@font-face {
  font-family: "Tag-line";
  src: url("../../assets/Gobold Hollow.ttf");
}
@font-face {
  font-family: "Tag-line-light";
  src: url("../../assets/Gobold Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/Roboto-Bold.ttf");
}

.bif-text-bottom {
  color: white;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Tag-line-light";
}

.btn {
  position: absolute;
  color: white;
  text-decoration: none;
  /* left: 50%;
  top: 45%;
  transform: translate(-50%,-50%); */
  right: 50px;
  top: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 50;
  border-bottom: 2px solid #009bdb;
  /* border-TOP: 2px solid #009BDB; */
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  text-align: left;
}

.btn-2::before {
  background-color: #009bdb;
  transition: 0.3s ease-out;
}
.btn-2 span {
  color: white;
  text-align: left;
}
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-right:hover::before {
  width: 100%;
}
.link {
  text-decoration: none;
  color: white;
}
.head-to-about {
  font-size: 27px;
  font-family: "Roboto";
  color: white;
  position: absolute;
  bottom: 30px;
  right: 50px;
  font-weight: 600;
  z-index: 50;
  display: flex;
  width: 145px;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-to-about:hover {
  text-decoration: none;
}
.icon {
  color: white;
  margin-right: 10px;
  outline-color: white;
}
