.xxxl {
  font-size: 4vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .xxxl {
    font-size: 6vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .xxxl {
    font-size: 8vw;
  }
}
@media (max-width: 500px) {
  .xxxl {
    font-size: 12vw;
  }
}
.xxl {
  font-size: 2.25vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .xxl {
    font-size: 3.375vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .xxl {
    font-size: 4.5vw;
  }
}
@media (max-width: 500px) {
  .xxl {
    font-size: 6.75vw;
  }
}
.xl {
  font-size: 1.5vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .xl {
    font-size: 2.25vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .xl {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .xl {
    font-size: 4.5vw;
  }
}
.lg {
  font-size: 1.25vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .lg {
    font-size: 1.875vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .lg {
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  .lg {
    font-size: 3.75vw;
  }
}
.default {
  font-size: 1.15vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .default {
    font-size: 1.725vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .default {
    font-size: 2.3vw;
  }
}
@media (max-width: 500px) {
  .default {
    font-size: 3.45vw;
  }
}
.med {
  font-size: 1vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .med {
    font-size: 1.5vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .med {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .med {
    font-size: 3vw;
  }
}
.sm {
  font-size: 0.9vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .sm {
    font-size: 1.35vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .sm {
    font-size: 1.8vw;
  }
}
@media (max-width: 500px) {
  .sm {
    font-size: 2.7vw;
  }
}
.xs {
  font-size: 0.8vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .xs {
    font-size: 1.2vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .xs {
    font-size: 1.6vw;
  }
}
@media (max-width: 500px) {
  .xs {
    font-size: 2.4vw;
  }
}
.xxs {
  font-size: 0.7vw;
}
@media (max-width: 1040px) and (min-width: 771px) {
  .xxs {
    font-size: 1.05vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  .xxs {
    font-size: 1.4vw;
  }
}
@media (max-width: 500px) {
  .xxs {
    font-size: 2.1vw;
  }
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 6vw 10vw;
  font-size: 1.15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
}
@media (max-width: 1040px) and (min-width: 771px) {
  body {
    font-size: 1.725vw;
  }
}
@media (max-width: 770px) and (min-width: 501px) {
  body {
    font-size: 2.3vw;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 3.45vw;
  }
}
html {
  font-family: "Roboto", arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background: linear-gradient(45deg, #3b3b7a, #91617e);
}
html * {
  font-weight: 200;
}
h1,
h2 {
  width: 100%;
  margin: 0 8vw 0.25em;
}
h2 {
  color: rgba(0, 0, 0, 0.25);
}
.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-right: 2vw;
  margin-left: 2vw;
  padding: 6vw 0vw;
  background: linear-gradient(10deg, #ccc, #fff 50%);
  box-shadow: 0rem 1.25rem 2.625rem 0.375rem rgba(0, 0, 0, 0.18);
  border-radius: 0.5rem;
  animation-name: cardDrop;
  animation-iteration-count: 1;
  animation-timing-function: all;
  animation-duration: 1s;
}
@keyframes cardDrop {
  0% {
    transform: translateY(-100px);
  }
}
.gravatar {
  border-radius: 100%;
  margin-bottom: 1em;
  height: 10rem;
  width: 10rem;
  background-size: cover;
  overflow: hidden;
}
.social {
  margin-top: 3vw;
  color: rgba(0, 0, 0, 0.45);
}
.social a {
  box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.1),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.1),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: btnBulge 1s;
  animation-delay: 0.8s;
  color: rgba(0, 0, 0, 0.3);
}
.social a:hover {
  cursor: pointer;
  box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.08),
    0 -10px 15px -1px rgba(255, 255, 255, 1),
    inset 0 3px 4px -1px rgba(0, 0, 0, 0.05),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.3),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

.fa {
  font-size: xx-large;
}

.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes btnBulge {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(0.75);
  }
  80% {
    transform: scale(1.1);
  }
}
